 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/fondo-agregar.jpg');
    background-size: cover;
}

.form-contact {
    background: #FFF;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
  }
  
  header {
    width: 100%;
    background: #4C4438;
    overflow: hidden;
    color: white;
  }
  
  header span {
    font-size: 70px;
    display: block;
    text-align: center;
    padding: 2.5rem;
  }
  
  .contact {
    padding: .8rem;
    overflow: hidden;
    color: gray;
  }
  
  .contact label, .contact input, .contact textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;   
  }
  
  .contact label {
    font-weight: 700;
  }
  
  .contact input:not([type='submit']), .contact textarea {
    border: none;
    border-bottom: 2px solid #4C4438;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: gray;
  }
  
  .contact textarea {
    min-height: 100px;
  }
  
  input[type='submit'] {
    padding: 10px;
    background: #4C4438;
    border: none;
    color: white;
    font-size: 20px;
    /* pointer-events: none; */
    cursor: pointer;
  
}

#boton-agregar {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #FFF;
    background-color: #4C4438;
    outline: none;
    border-radius: 15px;
}

.nav-link {
    text-decoration: none;
    color: #FFF;
    background-color: #4C4438;
    border-radius: 15px;
}

header span label {
    color: #FFF;
    font-size: 50px;
}

